@mixin landing-page-background() {
  background-color: $ui-01;
  position: relative;

  &::before {
    content: '';
    position: absolute;
    inset: 0 - $spacing-06 0 - $spacing-06;
    background: $ui-01;
    z-index: -1;
  }
}
